In [1]:
import iexfinance.stocks as iex
from datetime import datetime
import numpy as np
import pandas as pd

In [5]:
start_date = datetime(2015,12,31)
end_date   = datetime(2019,3,2)

# Simple function that returns respective time-series given a stock ticker
def ticker_to_series(ticker='', sd=None, ed=None):
    if ticker == '':
        return
    if sd is None or ed is None:
        return
    # Default list of dropped columns from iexfinance's data
    to_drop = ['high', 'low', 'open', 'volume']
    # Retrieve data
    t_df = iex.get_historical_data(ticker, sd, ed, 
                                   output_format='pandas').drop(columns=to_drop)
    return t_df

In [9]:
micron = ticker_to_series('MU', start_date, end_date)
micron.head()

            close
date
2015-12-31  14.16
2016-01-04  14.33
2016-01-05  14.82
2016-01-06  14.22
2016-01-07  13.66